[submodule "submodules/walls/aesthetic-wallpapers"]
	path = submodules/walls/aesthetic-wallpapers
	url = https://github.com/D3Ext/aesthetic-wallpapers.git
[submodule "submodules/walls/yay"]
	path = submodules/walls/yay
	url = https://aur.archlinux.org/yay.git
[submodule "submodules/yay"]
	path = submodules/yay
	url = https://aur.archlinux.org/yay.git
[submodule "submodules/pywal16"]
	path = submodules/pywal16
	url = https://github.com/eylles/pywal16.git
[submodule "submodules/rofi"]
	path = submodules/rofi
	url = https://github.com/adi1090x/rofi.git
[submodule "submodules/walls/wallpapers"]
	path = submodules/walls/wallpapers
	url = https://github.com/kiddae/wallpapers.git
